<footer id="footer">
    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>CrowdFunding</span></strong>. Tout Droit Réservé
        </div>
        @*<div class="credits">Créer par <a href=""></a>*@
        </div>
    </div>
</footer>